/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* CounterCard */
.counter-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.counter-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* DishCard */
.dish-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dish-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dish-card h4 {
  margin: 0 0 10px;
}

.dish-card p {
  margin: 5px 0;
}

.dish-card button {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.dish-card button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.dish-card.editing {
  background-color: #f9f9f9;
  border-color: #007bff;
}

.dish-card input[type="text"],
.dish-card input[type="number"] {
  width: calc(100% - 20px);
  margin: 5px 0;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.dish-card input[type="checkbox"] {
  margin-right: 5px;
}

.dish-card button {
  margin-top: 10px;
}

.dish-card button:last-child {
  background-color: #ff4d4f;
}


/* CartItem */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.cart-item input {
  width: 50px;
  text-align: center;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 10px
}

.cart-item-quantity p {
  width: 25px;
  text-align: center;
}

.cart-item-quantity button {
  padding: 5px 10px;
  background-color: rgb(109, 109, 254);
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item-quantity button:hover {
  background-color: rgb(73, 73, 166);
}

.cart-item-remove {
  padding: 5px 10px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item-remove:hover {
  background-color: darkred;
}


/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:hover {
  background-color: #f0f0f0;
}