/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* CounterCard */
.counter-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  max-width: 500px;
}

.counter-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* DishCard */
button.new-dish {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  justify-self: right;
}

.dish-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 250px;
  justify-self: center;
}

.dish-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dish-card h4 {
  margin: 0 0 10px;
}

.dish-card p {
  margin: 5px 0;
}

.dish-card button {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.dish-card button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.dish-card .go-to {
  background-color: #ffcc67;
}

.dish-card.editing {
  background-color: #f9f9f9;
  border-color: #007bff;
}

.dish-card input[type="text"],
.dish-card input[type="number"] {
  width: calc(100% - 20px);
  margin: 5px 0;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.dish-card input[type="checkbox"] {
  margin-right: 5px;
}

.dish-card button {
  margin-top: 10px;
}

.dish-card button:last-child {
  background-color: #ff4d4f;
}

.dish-card button:last-child:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.dish-card.disabled {
  opacity: 80%;
  cursor: not-allowed;
}

/* Dish Form */
.dish-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

.dish-form h3 {
  margin-bottom: 15px;
}

.dish-form input[type="text"],
.dish-form input[type="number"] {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.dish-form input[type="checkbox"] {
  margin-right: 5px;
}

.dish-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.dish-form button[type="button"] {
  background-color: #ff4d4f;
}

.dish-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/* CartItem */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.cart-item input {
  width: 50px;
  text-align: center;
}

.cart-item button:disabled {
  opacity: 80%;
  cursor: not-allowed;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 10px
}

.cart-item-quantity p {
  width: 25px;
  text-align: center;
}

.cart-item-quantity button {
  padding: 5px 10px;
  background-color: rgb(109, 109, 254);
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item-quantity button:hover {
  background-color: rgb(73, 73, 166);
}

.cart-item-remove {
  padding: 5px 10px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item-remove:hover {
  background-color: darkred;
}

.cart-checkout {
  justify-content: space-between;
  display: flex;
  padding: 0 20px;
}

.cart-checkout button {
  padding: 0 15px;
  background-color: rgb(36, 158, 84);
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cart-checkout button:hover {
  background-color: rgb(27, 112, 61);
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-error {
  background-color: rgb(255, 219, 225);
  max-width: 400px;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #fba9a9;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(104, 18, 18);
  font-weight: bold;
  text-align: center;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

/* User Item Card Styling */
.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  gap: 16px;
  margin: 20px;
  width: 500px;
}

.user-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.user-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.user-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.user-email {
  font-size: 0.9rem;
  color: #666;
}

.role-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.role-select {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}

.user-save-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.user-save-button:hover {
  background-color: #0056b3;
}

.user-save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.user-profile-pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 1px solid #ddd;
}

/* Page Wrapper */
.manage-counters {
  margin: 20px auto;
  padding: 20px;
}

/* Input Field */
.manage-counters input[type="text"] {
  width: calc(100% - 250px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Button */
.manage-counters .add-form input[type="submit"] {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manage-counters .add-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.manage-counters .add-form input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.manage-counters button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manage-counters button:hover {
  background-color: #0056b3;
}

.manage-counters button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Counter Cards */
.admin-counter-card {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

.admin-counter-card.disabled {
  opacity: 60%;
  cursor: not-allowed;
}

.admin-counter-card input[type="text"] {
  width: 90%;
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.admin-counter-card h3 {
  font-size: 18px;
  margin: 0;
  color: #222;
}

.admin-counter-card p {
  margin: 0;
  font-weight: bold;
  color: #555;
}

.admin-counter-card ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.admin-counter-card li {
  display: flex;
  justify-content: end;
  margin: 5px 25px;
  gap: 50px;
}

.admin-counter-card li span {
  font-size: 14px;
  color: #666;
}

.admin-counter-card .button-group {
  display: flex;
  gap: 10px;
}

.admin-counter-card button {
  padding: 8px 10px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-counter-card button:hover {
  opacity: 0.9;
}

.admin-counter-card .remove-user {
  color: red;
  cursor: pointer;
  text-align: left;
}

.admin-counter-card .dropdown {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  width: 90%;
  margin-top: 5px;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
}

.admin-counter-card .dropdown div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.admin-counter-card .dropdown div:hover {
  background-color: #f0f0f0;
}


/* Responsive Design */
@media (max-width: 768px) {
  .manage-counters input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .manage-counters button {
    width: 100%;
  }

  .admin-counter-card {
    gap: 5px;
  }
}


/* Auth forms styling */
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 16px auto;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-heading {
  text-align: left;
  margin-bottom: 16px;
}

.input-container {
  margin-bottom: 12px;
  margin-right: 20px;
  text-align: left;
}

.input-label {
  margin-bottom: 4px;
  font-size: 14px;
  color: #333;
  display: block;
}

.input-field {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  margin-top: 12px;
  padding: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:disabled {
  background-color: #bbbbbb;
  cursor: not-allowed;
}

.auth-error {
  background-color: rgb(255, 219, 225);
  max-width: 300px;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #fba9a9;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(104, 18, 18);
  font-weight: bold;
}

.auth-success {
  background-color: rgb(179, 252, 179);
  max-width: 300px;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #83c983;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(24, 114, 6);
  font-weight: bold;
}

.auth-footer {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}